* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    /* color: white; */
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    padding: 0 40px;

    // div {
    //     // border: 1px solid rgb(221, 255, 0);
    //     transform: scale(0.92);
    // }
}

.left-menu {
    border: 1px solid rgb(0, 0, 0);
    width: 350px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.258);
    overflow: hidden;
    display: grid;
    grid-template-rows: 0.9fr 2fr 3fr;
    margin-right: 20px;
    padding-bottom: 10px;

    // & > div {
    //     border: 1px solid rgb(0, 4, 255);
    // }

    .menu-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    .input-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 7px;

        #app-input {
            width: 300px;
            height: 80px;
            border-radius: 10px;
            background-color: rgb(177, 177, 177);
            font-size: 20px;
            padding: 0 5px;
            text-align: center;
            transition: background-color 0.4s;
        }

        .input-section-btns {
            display: flex;
            gap: 10px;
            margin: 10px 0;

            div {
                border: 1px solid black;
                border-radius: 5px;
                padding: 3px 5px;
                background-color: rgb(112, 112, 112);
                cursor: pointer;
                transition: background-color 0.15s;

                &:hover {
                    background-color: rgb(102, 102, 102);
                }
                &:active {
                    background-color: rgb(96, 96, 96);
                }
            }
        }
    }

    .select-task {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 15px;
        padding-top: 0;

        .section-separator {
            width: 250px;
            height: 1px;
            background: rgb(69, 69, 69);
            margin: auto;
            margin-bottom: 5px;
        }

        input[type="radio"] {
            transform: scale(1.3);
            position: relative;
            top: 2px;
            left: 2px;
            color: #303030;

            // filter: grayscale(10000);
            // filter: saturate(1000);
            // filter: sepia(1000);
            // filter: invert(1000);
            // filter: grayscale(10000) sepia(1000);
            // filter: blur(0.5px);

            &:checked {
                filter: invert(1000) saturate(1000);
            }
        }

        #custom-task-time {
            width: 50px;
            border-radius: 5px;
            background-color: rgb(177, 177, 177);
            padding: 2px 3px;
        }

        .task-submit-btn {
            width: 200px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 2px;
            border: 1px solid black;
            border-radius: 5px;
            padding: 3px 5px;
            margin-top: 10px;
            background-color: rgb(112, 112, 112);
            transition: background-color 0.15s;
            cursor: pointer;
            font-size: 20px;

            &:hover {
                background-color: rgb(102, 102, 102);
            }
            &:active {
                background-color: rgb(96, 96, 96);
            }
        }
    }
}

.filter-names {
    border: 1px solid rgb(0, 0, 0);
    width: 350px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.258);
    overflow: hidden;
    padding-bottom: 10px;
    // position: absolute;
    // right: 5%;
    // top: 10px;

    .team-selector {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5px;

        // border: 1px solid blue;
        div {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.15s;
            // background-color: red;
            color: rgb(61, 61, 61);
            background-color: rgb(71, 71, 71);

            &:hover {
                background-color: rgb(89, 89, 89);
            }
            &:active {
                background-color: rgb(112, 112, 112);
            }
        }

        .active-btn {
            color: black;

            background-color: rgb(112, 112, 112);

            &:hover {
                background-color: rgb(112, 112, 112);
            }
            &:active {
                background-color: rgb(112, 112, 112);
            }
        }
    }

    h3 {
        text-align: justify;
        padding: 10px 20px;
    }

    .person {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;

        .person-time {
            display: flex;
            gap: 5px;

            .member-btns {
                border: 1px solid black;
                width: 18px;
                height: 18px;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: background-color 0.15s;
                cursor: pointer;

                &:hover {
                    background-color: rgb(158, 158, 158);
                }
                &:active {
                    background-color: rgb(112, 112, 112);
                }

                &::selection {
                    background-color: transparent;
                }
            }

            .time {
                width: 20px;
                display: flex;
                justify-content: center;
            }
        }
    }
}
