* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  /* color: white; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0 40px;
}

.left-menu {
  border: 1px solid rgb(0, 0, 0);
  width: 350px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.258);
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.9fr 2fr 3fr;
  margin-right: 20px;
  padding-bottom: 10px;
}
.left-menu .menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.left-menu .input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}
.left-menu .input-section #app-input {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(177, 177, 177);
  font-size: 20px;
  padding: 0 5px;
  text-align: center;
  transition: background-color 0.4s;
}
.left-menu .input-section .input-section-btns {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.left-menu .input-section .input-section-btns div {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 5px;
  background-color: rgb(112, 112, 112);
  cursor: pointer;
  transition: background-color 0.15s;
}
.left-menu .input-section .input-section-btns div:hover {
  background-color: rgb(102, 102, 102);
}
.left-menu .input-section .input-section-btns div:active {
  background-color: rgb(96, 96, 96);
}
.left-menu .select-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  padding-top: 0;
}
.left-menu .select-task .section-separator {
  width: 250px;
  height: 1px;
  background: rgb(69, 69, 69);
  margin: auto;
  margin-bottom: 5px;
}
.left-menu .select-task input[type=radio] {
  transform: scale(1.3);
  position: relative;
  top: 2px;
  left: 2px;
  color: #303030;
}
.left-menu .select-task input[type=radio]:checked {
  filter: invert(1000) saturate(1000);
}
.left-menu .select-task #custom-task-time {
  width: 50px;
  border-radius: 5px;
  background-color: rgb(177, 177, 177);
  padding: 2px 3px;
}
.left-menu .select-task .task-submit-btn {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 5px;
  margin-top: 10px;
  background-color: rgb(112, 112, 112);
  transition: background-color 0.15s;
  cursor: pointer;
  font-size: 20px;
}
.left-menu .select-task .task-submit-btn:hover {
  background-color: rgb(102, 102, 102);
}
.left-menu .select-task .task-submit-btn:active {
  background-color: rgb(96, 96, 96);
}

.filter-names {
  border: 1px solid rgb(0, 0, 0);
  width: 350px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.258);
  overflow: hidden;
  padding-bottom: 10px;
}
.filter-names .team-selector {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
.filter-names .team-selector div {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.15s;
  color: rgb(61, 61, 61);
  background-color: rgb(71, 71, 71);
}
.filter-names .team-selector div:hover {
  background-color: rgb(89, 89, 89);
}
.filter-names .team-selector div:active {
  background-color: rgb(112, 112, 112);
}
.filter-names .team-selector .active-btn {
  color: black;
  background-color: rgb(112, 112, 112);
}
.filter-names .team-selector .active-btn:hover {
  background-color: rgb(112, 112, 112);
}
.filter-names .team-selector .active-btn:active {
  background-color: rgb(112, 112, 112);
}
.filter-names h3 {
  text-align: justify;
  padding: 10px 20px;
}
.filter-names .person {
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
}
.filter-names .person .person-time {
  display: flex;
  gap: 5px;
}
.filter-names .person .person-time .member-btns {
  border: 1px solid black;
  width: 18px;
  height: 18px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.15s;
  cursor: pointer;
}
.filter-names .person .person-time .member-btns:hover {
  background-color: rgb(158, 158, 158);
}
.filter-names .person .person-time .member-btns:active {
  background-color: rgb(112, 112, 112);
}
.filter-names .person .person-time .member-btns::-moz-selection {
  background-color: transparent;
}
.filter-names .person .person-time .member-btns::selection {
  background-color: transparent;
}
.filter-names .person .person-time .time {
  width: 20px;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */